In [9]:
import pandas as pd
import numpy as np
#from sklearn.preprocessing import OneHotEncoder
#from sklearn.feature_extraction import DictVectorizer

In [10]:
InputData = pd.read_csv('raw/listings.csv', sep=',')
columnamesKeep = ['host_response_rate','host_identity_verified','neighbourhood_cleansed','latitude','longitude','property_type','room_type','accommodates','bathrooms','bedrooms','beds','bed_type','amenities','price','security_deposit','cleaning_fee','guests_included','extra_people','cancellation_policy']

df_data = InputData[columnamesKeep]

In [11]:
# remove the $ from the price and convert to float
df_data.loc[:,('price')] = df_data.loc[:,('price')].map(lambda x:x.replace('$',''))
df_data.loc[:,('price')] = pd.to_numeric(df_data.loc[:,('price')],errors='coerce')
df_data['price']

0        110
1         20
2         65
3        109
4        140
5        140
6         19
7         30
8         20
9         40
10        45
11        30
12        45
13        45
14        30
15        30
16        43
17        42
18        69
19        25
20       100
21        10
22        99
23        70
24        25
25        99
26        35
27        60
28        98
29        65
        ...
14509     25
14510     15
14511     30
14512     22
14513     30
14514     70
14515     35
14516     18
14517     15
14518     38
14519     23
14520     37
14521     20
14522     35
14523     20
14524     50
14525     30
14526     65
14527     18
14528     50
14529    240
14530    240
14531    350
14532     30
14533     59
14534     15
14535     90
14536     59
14537     45
14538     20
Name: price, dtype: float64

In [14]:
# Get one hot encoding of columns 
one_hot = pd.get_dummies(df_data['neighbourhood_cleansed'])
# Drop column as it is now encoded
df_data = df_data.drop('neighbourhood_cleansed', axis=1)
# Join the encoded df
df_data = df_data.join(one_hot)

In [15]:
df_data.head(3)

,host_response_rate,host_identity_verified,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,...,la Teixonera,la Trinitat Nova,la Trinitat Vella,la Vall d'Hebron,la Verneda i la Pau,la Vila Olímpica del Poblenou,la Vila de Gràcia,les Corts,les Roquetes,les Tres Torres
0,100%,t,41.378721,2.173981,Apartment,Entire home/apt,4,1,1,2,...,0,0,0,0,0,0,0,0,0,0
1,81%,f,41.378848,2.172998,Apartment,Private room,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,100%,t,41.376733,2.169411,Apartment,Private room,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0